I<pre>
<font color="#95a5a6">/*</font>
<font color="#95a5a6"> &nbsp;I2C Arduino SLAVE</font>
<font color="#95a5a6"> &nbsp;Envia 3 bytes sempre que o Master pede.</font>
<font color="#95a5a6"> &nbsp;criado a 28 Abril 2016</font>
<font color="#95a5a6"> &nbsp;por Bruno Horta</font>
<font color="#95a5a6"> */</font>
<font color="#95a5a6">/**</font>
<font color="#95a5a6"> * INCLUIR A Biblioteca Wire</font>
<font color="#95a5a6"> */</font>
<font color="#5e6d03">#include</font> <font color="#005c5f">"Wire.h"</font>
<font color="#5e6d03">#define</font> <font color="#000000">ADDRESS</font> <font color="#000000">8</font>
<font color="#00979c">void</font> <font color="#5e6d03">setup</font><font color="#000000">(</font><font color="#000000">)</font> <font color="#000000">{</font>
 &nbsp;<font color="#434f54">//Inicia o I2C e atribui o Endereço </font>
 &nbsp;<font color="#d35400">Wire</font><font color="#434f54">.</font><font color="#d35400">begin</font><font color="#000000">(</font><font color="#000000">ADDRESS</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;<font color="#434f54">//Especificação do Handler de pedidos</font>
 &nbsp;<font color="#d35400">Wire</font><font color="#434f54">.</font><font color="#d35400">onRequest</font><font color="#000000">(</font><font color="#d35400">sendData</font><font color="#000000">)</font><font color="#000000">;</font>
<font color="#000000">}</font>

<font color="#00979c">void</font> <font color="#5e6d03">loop</font><font color="#000000">(</font><font color="#000000">)</font> <font color="#000000">{</font>
 &nbsp;<font color="#434f54">//Protege de overhead</font>
 &nbsp;<font color="#d35400">delay</font><font color="#000000">(</font><font color="#000000">100</font><font color="#000000">)</font><font color="#000000">;</font>
<font color="#000000">}</font>

<font color="#00979c">void</font> <font color="#d35400">sendData</font><font color="#000000">(</font><font color="#000000">)</font><font color="#000000">{</font>
 &nbsp;<font color="#434f54">//Escreve 3 bytes e envia</font>
 &nbsp;<font color="#d35400">Wire</font><font color="#434f54">.</font><font color="#d35400">write</font><font color="#000000">(</font><font color="#005c5f">"IOT"</font><font color="#000000">)</font><font color="#000000">;</font>
<font color="#000000">}</font>

</pre>